#map {
  height: 50vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.search {
  margin-top: 1em;
}

.search-bar-input{
  width: 100%;
  padding: 1em;
  font-size: 16px;
}

.search-results {

}

.venues-list {
  padding: 0;
}

.venue-list-item {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.venue-list-item-button{
  padding: 1em;
  cursor: pointer;
  font-size: 14px;
}
